@import "ng-devui/styles-var/devui-var.scss";

.demo-container {
  .description {
    display: inline-flex;
    align-items: center;
    font-size: $devui-font-size-card-title;
    margin-bottom: 12px;

    .user-name {
      margin-left: 6px;
    }
  }

  h1 {
    background: var(--devui-base-bg, #ffffff);
    top: 65px;
    padding: 30px 0 20px;
    z-index: 20;
    margin: 0;
  }

  h3 {
    margin-top: 0;
  }

  d-tag {
    margin: 8px 8px 8px 0;
  }

  .block-info {
    margin-bottom: 12px;

    .block-tags {
      margin-bottom: 12px;
    }

    .block-usage-title {
      font-size: $devui-font-size-page-title;
      padding-bottom: 8px;
    }

    .block-usage-cli {
      margin-top: 8px;
      padding: 8px;
      font-size: $devui-font-size-card-title;
      background-color: $devui-area;
      border: 1px solid $devui-dividing-line;
    }

    .block-usage-title {
      border-bottom: 1px solid $devui-dividing-line;
    }
  }
}

::ng-deep .devui-tab-content {
  margin-top: 0 !important;
}
