@import "ng-devui/styles-var/devui-var.scss";
@import "src/app/@shared/styles/common.scss";

.da-form {
  padding: 48px;
  background-color: $devui-base-bg;
  border-radius: $devui-border-radius-card;
  box-shadow: $devui-shadow-length-base $devui-light-shadow;
}

form {
  margin: 0 auto;
  max-width: 50%;
}

@media only screen and (max-width: 1023px) {
  form {
    max-width: 80%;
  }
}
