@import "ng-devui/styles-var/devui-var.scss";
@import "src/app/@shared/styles/common.scss";

.da-basic-form {
  padding: 48px;
  background-color: $devui-base-bg;
  border-radius: $devui-border-radius-card;
  box-shadow: $devui-shadow-length-base $devui-light-shadow;
}

form {
  margin: 0 auto;
  max-width: 50%;
}

@media only screen and (max-width: 1023px) {
  form {
    max-width: 80%;
  }
}

.devui-input-group-addon {
  width: 1%;
  vertical-align: middle;

  &:hover {
    color: $devui-brand-active;
  }
}

.devui-input-group {
  max-width: 250px;
}

.close-icon-wrapper {
  padding: 0;
}

.icon-close {
  border-right: 1px solid $devui-dividing-line;
  padding-right: 10px;
  cursor: pointer;
}

:host ::ng-deep .devui-select-placeholder {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
