@import 'ng-devui/styles-var/devui-var.scss';

.da-progress {
  border-radius: $devui-border-radius-card;
  box-shadow: 0 1px 4px 0 $devui-shadow-length-base;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.da-progress-container {
  height: 150px;
  width: 150px;
  font-size: $devui-font-size-price;
  display: inline-block;
  margin: 10px;
}

.da-progress-icon-position {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  margin: 0;
  padding: 0;
  line-height: 1;
  white-space: normal;
  text-align: center;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: $devui-success;
  font-size: $devui-font-size-data-overview;
}
